<h1>Other#next</h1>
<p>Find me in app/views/other/next.html.erb</p>

<turbo-frame id="zebra">
  <h2>this is the zebra turboframe</h2>

  <h2>this is the cookie: <%= cookies[:hello] %></h2>

  <a href="/other/next">Next</a>
</turbo-frame>